*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#0fbea7,#135ac4);
    padding: 10px;
}
.todo{
    background: #fff;
    width: 100%;
    max-width: 520px;
    margin: 120px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo img{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.input-area{
    display: flex;
    justify-content: space-between;
    margin: 15px 5px;
    align-items: center;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
    background: #d5d1d1;
}
#entry{
    flex: 1;
    border: none;
    width: 100%;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 12px;
}
button{
    border: none;
    outline:none;
    padding: 15px 25px;
    color : #fff;
    font-size: 16px;
    border-radius: 30px;
    background: #e60909;
    cursor: pointer;
}

ul li{
    padding: 10px 45px 17px 50px;
    list-style-type: none;
    font-size: 15px;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul li::before{
    content: "";
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-right: 12px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
}
ul li.done{
    color: #6c6969b1;
    text-decoration: line-through;
}
ul li.done::before{
    background-image: url(images/checked.png);
}
ul li span{
    margin-left: auto;
    padding: 5px;
    color: #770202;
    font-size: 15px;
    font-weight: 650;
    border-radius: 40px;
    justify-content: center;
}
ul li span:hover{
    color: #e60909;
    cursor: pointer;
    background: #85797939;
}